.deviceWrapper{
    color:black;
    height:100%;
    width: 100%;
}

.deviceTop{
    height: 158px;
    width: 100%;
}

.deviceBottom{
    height: 336px;
    width: 100%;
}

.deviceIconWrapper{
    position: relative;
    float:left;
    height:158px;
    width:160px;
}

.displayValues{
    height: 158px;
    opacity: 1;
    overflow: hidden;
}

.displayValueWrapper{
    float: right;
    color: whitesmoke;
    height: 100%;
    width: 166px;
}

.deviceTableWrapper{
    float:left;
    height:100%;
    width: 100%;
    opacity: 1;
}

