@-webkit-keyframes spinnerRotate {
  from {
    -webkit-transform:rotate(0deg);
  }
  to {
    -webkit-transform:rotate(360deg);
  }
}


.loading {
    height: 75px;
    width: 200px;
    text-align: center;
    font-family: 'Changelling Light';
    color: #999999;
    line-height: 100px;
    /*background-color: white;
    box-shadow: 0 1px 1px #888888;*/
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.notificationBox {
    z-index: 999;
    display: block;
    position: fixed;
    width: 250px;
    height: 20px;
    left: 42%;
    top: 0%;
    margin-top: 2px;
    padding: 5px;
    margin: 0;
    background-color: white;
    box-shadow: 0 1px 1px #888888;
    transition: display .20s ease-in-out;
}

.notificationBox h5{
    font-size: 16px;
    float: left;
    font-family: 'Segoe UI';
    color: #444444;
    width: 220px;
    line-height: 20px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}

.notificationBox .dismiss{
   float: right;
    width: 20px;
    height: 20px;
    background-color: #007099;
    display: inline-block;
    position: relative;
    z-index: 10;
} 

.notificationBox .dismiss:hover{
    background-color: #00A8E5;
}

.blockingOverlay{
    opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  height: 100px;
  width: 100px;
  text-indent: 250px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-mask-image: url(../img/spinner.png); 
  background-color: #000;
  -webkit-animation-name: spinnerRotate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/*-------------------Main Page Styles-----------------------*/

.tabDiv {
  position: relative;
  height: 85px; 
  margin-top: 0px;
}

.contentContainer {
  margin: auto;
  position: relative;
  display: block;
  color: #333333;
}

.contentDiv {
  width: inherit;
  background-color: white;
  min-height: 450px;
  box-shadow: 0 1px 1px #888888;
  -ms-overflow: hidden;
  overflow: hidden;
  padding-bottom: 20px;
}


ul#tabMenu li.active{
  background-color: white;
  opacity: 1;
}

ul#tabMenu li:hover {
  background-color: white;
}

ol#dataBars {
  cursor: default;
  list-style: none;
  margin: 0;
  padding: 0;
  /*counter-increment: lineNum;*/
}
/*
ol#dataBars:before {
  counter(lineNum) ' ';
}
*/
ol#dataBars > li{
  float: left;
  min-height: 100px;
  max-width: 710px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/*ol#dataBars li:last-child{
  margin-bottom: 20px;
  margin-top: 0px;
}*/

/*ol#dataBars li:nth-last-child(2){
    margin-bottom: 20px;
}*/



span.iconBox {
    float: left;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 2px;
    transition: outline .2s ease-in-out;
}

.clickable:hover {
    cursor: pointer;
    outline: solid white 3px;
    outline-offset: -3px;
}

span.infoBox {
    float: right;
  display: inline-block;
  width: 608px;
  height: 100px;
  /*background-color: cyan;*/
}


.masterContainer h3 {
    color: #999999;
    font-size: 36px;
    font-family: 'SegoeUILight';
}

.masterContainer h4 {
    font-size: 14px;
    margin-bottom: 28px;
    color: #999999;
    font-family: 'Segoe UI';
}

.masterContainer .errorDiv {
    background-color: white;
    min-height: 450px;
    text-align: center;
    -ms-overflow: hidden;
    overflow: hidden;
/*
    text-align: center;
    margin: auto;
    margin-top: 110px;
    width: 700px;
    height: 220px;
    position: relative; */
}
.masterContainer .errorDiv h3 {
    margin: auto;
    margin-top: 110px;
    margin-bottom: 30px;
    color: #999999;
    font-size: 36px;
    font-family: 'SegoeUILight';
}
.masterContainer .errorDiv div#image{
    margin: auto;
}

.masterContainer .statusBox {
    background-color: white;
    min-height: 450px;
    text-align: center;
    -ms-overflow: hidden;
    overflow: hidden;
/*
    text-align: center;
    margin: auto;
    margin-top: 110px;
    width: 700px;
    height: 220px;
    position: relative; */
}

.masterContainer .statusBox h3 {
    margin: auto;
    margin-top: 110px;
    margin-bottom: 30px;
    color: #999999;
    font-size: 36px;
    font-family: 'SegoeUILight';
}

.masterContainer .statusBox div#image{
    margin: auto;
}

.masterContainer .statusBox .link{
    width: 180px;
    margin: auto;
}

.masterContainer a {
    display: block;
    color: #999999;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Segoe UI Bold';
    transition: color .25s ease-in-out;
}
.masterContainer .headerDiv ol#topMenu a {
    margin-top: 26px;
}

.masterContainer a:hover {
    color: #000000;
}

.accInfo {
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    overflow: hidden;
    position: absolute;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: text;
    padding: 10px;
    padding-bottom: 15px;
    line-height: 12px;
    text-align: center;
}
.accInfo.accBox{
    float: right;
    margin-left: 494px;
    margin-top: -55px;
    z-index: 999;
    width: 246px;
    min-height: 42px;
}
.accInfo.nameEditor{
    float: right;
    margin-left: 206px;
    margin-top: -55px;
    z-index: 999; 
    width: 246px;
    min-height: 42px;
}
.accInfo.accBox a{
    margin-top: 14px;
}
.accInfo hr.small {
    margin-top: 14px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.accInfo div.btn-blue#long {
    cursor: pointer;
    width: 110px;
    margin-top: 12px;
}
.accInfo.accBox div.btn-blue#bottom {
    cursor: pointer;
    width: 84px;
    margin-top: 6px;
    float: left;
    margin-left: 26px;
}
.headerDiv ol#topMenu li#username{
    display: block;
    margin-top: 26px;
    color: #444444 ;
    transition: color .20s ease-in-out;
}

.headerDiv ol#topMenu li#username:hover {
    opacity: 0.6;
    cursor: pointer;
}

/*------------------------SubBar---------------------------*/

span.subBox {
    float: left;
    display: inline-block;
    width: 670px;
    min-height: 130px;
    margin-top: 2px;
    overflow:hidden;
    padding: 20px;
}

.masterContainer ol#dataBars li .subBox h5{
    margin:0px;
    text-align:left;
    font-size:16px;
    font-family:'SegoeUILight';
    color:#ffffff;
    line-height:16px;
}
.masterContainer ol#dataBars li .subBox label.filed{
  float: left;
    width: 100px;
    margin:0px;
    display: inline-block;
    text-align:left;
    padding-top:5px;
    font-size:16px;
    font-family:'SegoeUILight';
    color:#ffffff;
    line-height:16px;
}

ol#dataBars li input.input-settings {
    border: none;
    color: #FFFFFF;
    text-align: left;
    font-family: 'Segoe UI';
    font-size: 16px;
    margin-bottom: 10px;
    background-color: transparent;
    box-shadow: 0px 2px 0px 0px hsla(0, 0%, 100%, 0.5);
    width: 398px;
    height: 24px;
    line-height: 16px;
    padding-left: 10px;
}
ol#dataBars li input.input-settings:focus {
    outline: 0;
    background-color: rgba(119, 119, 119, 0.45);
}

/*-------------------Login Page Styles--------------------*/ 
.headerLogin {
  position : static;
  margin: auto;
  height: 160px;
  text-align: center;
}

.headerLogin h1 {
  margin-top: 0px !important;
  padding-top: 30px;
  font-size: 36px;
  color: #444444;
  font-family: 'SegoeUILight';
}

.headerLogin h3 {
  color: #999999;
  font-size: 22px;
  font-family: 'SegoeUILight';
}

.loginContainer {
  width: 380px;
  min-height: 405px;
  margin: auto;
  position: relative;
}

.loginDiv {
  background-color: white;
  margin: auto;
  position: relative;
  display: block;
  color: #333333;
  width: 360px;
  -ms-overflow: hidden;
  overflow: hidden;
}

.loginDiv.top {
    text-align: center;
  min-height: 275px;
  box-shadow: 0 1px 1px #888888;
}

.loginDiv.mid {
  position: absolute;
  display: inline-block;
  height: 10px;
  padding: 0px !important;
    margin: 0px !important; 
}

.loginDiv.bottom {
  height: 22px;
  box-shadow: 0 1px 1px #888888;
}

.loginTriangle {
  display: inline;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  padding: 0px !important;
    margin: 0px !important; 
}

.loginTriangle.right {
  float: right;
  border-left: 10px solid #0097cf;
}

.loginTriangle.left {
  float: left;
  border-right: 10px solid #0097cf;
}

.loginDiv.top > .innerDiv {
  width: 235px;
  margin: auto;
}

.loginDiv.top > .innerDiv h2 {
  text-align: center;
  font-size: 38px;
  font-family: 'SegoeUILight';
  color: #444444;
}

.bannerBlue {
  position: relative;
  display: inline-block;
  width: 380px;
  height: 95px;
  margin: auto;
  text-align: center;
  background-color: #00aeef;
  padding: 0px !important;
  text-shadow:1px 1px 0px #528ecc;
  color: #ffffff;
}
.bannerBlue p {
  font-size: 12px;
}

.bannerBlue a {
  color: #ffffff;
  text-decoration: none;
  font-size: 40px;
  font-family: 'SegoeUILight';
  transition: color .5s ease-in-out;
}

.bannerBlue a:hover {
  color: #adefff;
}

.input-block-level {
  width: 94%;
  height: 24px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.loginBtns {
  position : relative;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.loginBtns .btn-blue{
  margin-left: 18px;
}
.loginBtns .label{
  line-height: 38px;
}
.loginBtns .input{
  margin-right: 10px;
  float: left;
}
.loginRes p {
  text-align: center;
  font-size: 12px;
  color: #f04549;
}

.loginDiv.top .innerDiv #forgot-password {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.loginDiv.top > .innerDiv h4#grey {
    text-align: center;
    font-size: 12px;
    margin-bottom: 28px;
    color: #999999;
    font-family: 'Segoe UI';
}
/*-------------------Verify Signup Div-------------------*/

.verificationNotice > .innerDiv {
    width: 235px;
    margin: auto;
}

.verificationNotice > .innerDiv h3#grey {
    text-align: center;
    font-size: 22px;
    margin-bottom: 16px;
    color: #999999;
    font-family: 'SegoeUILight';
}
.verificationNotice > .innerDiv h4#grey {
    text-align: center;
    font-size: 12px;
    margin-bottom: 28px;
    color: #999999;
    font-family: 'Segoe UI';
}

.verificationNotice {
    width: 380px;
    height: 475px;
    margin: auto;
    position: relative;
}

/*-------------------Validation Div-------------------*/

.validationContainer {
    background-color: white;
    margin: auto;
    position: relative;
    display: block;
    color: #333333;
    width: 360px;
    -ms-overflow: hidden;
    height: 470px;
    box-shadow: 0 1px 1px #888888;
    overflow: hidden;
}

.validationContainer > .innerDiv {
    width: 235px;
    margin: auto;
    
}

.validationContainer > .innerDiv h2 {
    text-align: center;
    font-size: 38px;
    font-family: 'SegoeUILight';
    color: #444444;
}

.stepsBar {
    display: inline-block;
    width: 235px;
    text-align: left;
}
.stepsBar .stepTxt{
    float: left;
    width: 190px;
    height: 34px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 18px;
}
.stepsBar .stepTxt p{
    margin: 0px;
}
.validationContainer > .innerDiv p#grey {
    text-align: center;
    font-size: 12px;
    color: #999999;
}
.validationContainer > .innerDiv p#grey.Top {
    margin-top: 105px;
    margin-bottom: 0px;
}
.validationContainer > .innerDiv p#grey.Btm {
    margin-top: 0px;
    margin-bottom: 15px;
}

/*-------------------Signup Div-------------------*/

.signupContainer {
    background-color: white;
    margin: auto;
    position: relative;
    display: block;
    color: #333333;
    width: 360px;
    -ms-overflow: hidden;
    min-height: 402px;
    box-shadow: 0 1px 1px #888888;
    overflow: hidden;
}

.signupContainer > .innerDiv {
    width: 235px;
    margin: auto;
}

.signupContainer > .innerDiv h3#grey {
    text-align: center;
    font-size: 22px;
    margin-bottom: 16px;
    color: #999999;
    font-family: 'SegoeUILight';
}
.signupContainer > .innerDiv h4#grey {
    text-align: center;
    font-size: 12px;
    margin-bottom: 28px;
    color: #999999;
    font-family: 'Segoe UI';
}

.signupContainer > .innerDiv label {
    font-size: 12px;
    margin-top: 20px;
}
.signupContainer > .innerDiv .center {
    float: left;
    width: 98px;
    position: relative;
    margin-top: 20px;
    margin-left: 68.5px;
    margin-bottom: 30px;
}

.signupLoginContainer {
    width: 380px;
    height: 475px;
    margin: auto;
    position: relative;
}

.signupLoginContainer .loginDiv.top .innerDiv .bottomDiv {
    margin-top: 20px;
    line-height: 12px;
    margin-bottom: 20px;
    text-align: center;
}
/*--------------------TermsCondtn---------------------*/

.tncContainer {
    background-color: white;
    margin: auto;
    position: relative;
    display: block;
    color: #333333;
    width: 710px;
    -ms-overflow: hidden;
    min-height: 402px;
    box-shadow: 0 1px 1px #888888;
    overflow: hidden;
    padding: 10px;
    text-align:justify;
    text-justify:inter-word;
}
.tncContainer > .innerDiv .center {
    width: 98px;
    position: relative;
    margin: auto;
    margin-top: 20px;
}
/*-------------------Image sprites--------------------*/



span.tab {
  position: relative;
  margin-bottom: 10px;
}

.large-invalid {
    margin: auto;
    height: 125px;
    width: 154px;
    background:url(../img/large_symbols.png) no-repeat 0 -490px;
}

.large-router {
    height: 108px;
    margin: auto;
    width: 154px;
    background:url(../img/large_symbols.png) no-repeat 0 -379px;
}

.large-plus {
    margin: auto;
    height: 121px;
    width: 154px;
    background:url(../img/large_symbols.png) no-repeat 0 -251px;
}

.large-retry {
    height: 124px;
    margin: auto;
    width: 154px;
    background:url(../img/large_symbols.png) no-repeat 0 -124px;
}

.large-wait {
    height: 122px;
    margin: auto;
    width: 154px;
    background:url(../img/large_symbols.png) no-repeat 0 0px;
}


/*-------------------------404 Page---------------------------*/

.pnfDiv {
    position: relative;
    width: 360px;
    margin: auto;
    margin-top: 60px;
    height: 270px;
    display: block;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 1px 1px #888888;
}

.pnfDiv .innerDiv {
    width: 230px;
    margin: auto;
    text-align: center;
}

.pnfDiv .innerDiv p{
    font-family: 'Segoe UI';
    color: #999999;
    font-size: 12px;
    line-height: 5px;
}

/*-------------------------Oops Page---------------------------*/

.oopsDiv {
    position: relative;
    width: 360px;
    margin: auto;
    margin-top: 60px;
    height: 310px;
    display: block;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 1px 1px #888888;
}

.oopsDiv .innerDiv {
    width: 230px;
    margin: auto;
    text-align: center;
}

.oopsDiv .innerDiv p{
    font-family: 'Segoe UI';
    color: #999999;
    font-size: 12px;
    line-height: 5px;
}
/*-----------------------Forgot Password-----------------------*/

.resetpassDiv {
    position: relative;
    width: 450px;
    margin: auto;
    margin-top: 60px;
    min-height: 290px;
    display: block;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 1px 1px #888888;
}

.resetpassDiv .innerDiv {
    width: 360px;
    margin: auto;
    text-align: center;
}

.resetpassDiv .innerDiv p{
    font-family: 'Segoe UI';
    color: #999999;
    font-size: 12px;
    line-height: 5px;
}

.resetpassDiv .innerDiv button{
    margin-top: 10px;
    margin-bottom: 20px;
}

.resetpassDiv .innerDiv .loginRes p#err {
    text-align: center;
    font-size: 12px;
    color: #f04549;
}

.resetpassDiv .innerDiv .successRes{
    display: block;
}
.resetpassDiv .innerDiv .successRes.hidden{
    display: none;
}
.resetpassDiv .innerDiv .successRes hr.mod + p {
    text-align: center;
    font-size: 14px;
    color: #00BF10;
}
/*---------------------Verify Reset Page-----------------------*/


.resetContainer {
    background-color: white;
    margin: auto;
    position: relative;
    display: block;
    color: #333333;
    width: 400px;
    -ms-overflow: hidden;
    min-height: 300px;
    box-shadow: 0 1px 1px #888888;
    overflow: hidden;
} 

.resetContainer > .innerDiv {
    width: 280px;
    margin: auto;
}

.resetContainer > .innerDiv h3#grey {
    text-align: center;
    font-size: 22px;
    margin-bottom: 16px;
    color: #999999;
    font-family: 'SegoeUILight';
}
.resetContainer > .innerDiv h4#grey {
    text-align: center;
    font-size: 12px;
    margin-bottom: 28px;
    color: #999999;
    font-family: 'Segoe UI';
}

.resetContainer > .innerDiv label {
    font-size: 12px;
    margin-top: 20px;
}

.resetContainer .center{
    margin: auto;
    width: 98px;
    height: 32px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
}

.errRes p {
    text-align: center;
    font-size: 12px;
    color: #f04549;
}
.goodRes p {
    text-align: center;
    font-size: 12px;
    color: #3DD13D;
}
/*---------------------Link Almond Page-----------------------*/

.linkalDiv {
    position: relative;
    width: 360px;
    margin: auto;
    margin-top: 60px;
    min-height: 300px;
    display: block;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 1px 1px #888888;
}

.linkalDiv .innerDiv {
    width: 240px;
    margin: auto;
    text-align: center;
}

.linkalDiv .innerDiv.one .symbol .large-router{
    position: relative;
    margin: auto;
    margin-bottom: 30px;
}

.linkalDiv .innerDiv.one .symbol .large-router:hover {
    cursor: pointer;
}

.input-code {
    width: 74%;
    height: 54px;
    font-size: 32px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-family: 'Segoe UI Bold';
    text-align: left;
}

.linkalDiv .innerDiv.three button.btn-blue.grey {
    float: right;
}
.linkalDiv .innerDiv.three button.btn-blue {
    float: left;
}

.buttonsDiv {
    position: relative;
    height: 32px; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.innerDiv.three p#red{
    color: #EF4448;
    margin: 0px;
}
.innerDiv.three p#notice{
    margin: 0px;
    margin-bottom: 25px;
}
.wirelessSubBox .wlsetSubBox ul{
    list-style: none;
    padding: 0;
    margin: auto;
}

.innerDiv.four{
    width: 400px;
}

.innerDiv.four ul{
    list-style: none;
    padding: 0px;
    margin: auto;
}

.innerDiv.four ul li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    height: 50px;
}
.innerDiv.four span.left{
    float: left;
    font-family: 'Segoe UI';
    text-align: left;
    width: 120px;
}
.innerDiv.four span.right{
    float: right;
    font-family: 'Segoe UI';
    width: 280px;
    text-align: right;
}

/*--------------------------Router Tab-------------------------*/
.contentDiv#tab4 {
    
}

.routerBar {
    position: relative;
    float: left;
    display: inline-block;
    width: 690px;
    min-height: 120px;
    margin-top: 20px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 2px;
}
.routerBar.wlset {
    background-color: #00BBFF;
    overflow: hidden;
}
.routerBar.devnusrs {
    background-color: #00e582;
}
.routerBar.fltrcont {
    background-color: #ffbf00;
}
.routerBar.reboot {
    background-color: #e5004d;
}

.routerBar h2 {
    display: block;
    width: 370px;
    float: left;
    font-size: 26px;
    line-height: 26px;
    font-family: 'SegoeUILight';
    margin: 0px;
    margin-top: 20px;
}
.routerBar h3 {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 6px;
    margin-bottom: 0px;
    font-family: 'Segoe UI SemiLight';
}

.routerBar .lowBar {
    height: 50px;
    float: left;
    margin-top: 60px;
    position: absolute;
}
.routerBar span.bottom {
    width: 370px;
    position: relative;
    bottom: -20px;
    float: left;
}
.routerBar span.icon-wrench.icon_settings {
    margin-top: 10px;
}

.wirelessSubBar {
    position: relative;
    float: left;
    display: inline-block;
    min-height: 134px;
}

.wirelessSubBar .wlsetSubBox {
    display: block;
    position: relative;
    width: 670px;
    margin-top: 2px;
    color: #FFFFFF;
    margin-left: 20px;
    padding: 20px;
    background-color: #00BBFF;
}

.wirelessSubBar h3 {
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
    font-family: 'SegoeUILight';
    padding-bottom: 16px;
    margin: 0px;
}

.wirelessSubBar .wlsetSubBox ul{
    list-style: none;
    padding: 0;
    margin: auto;
}
.wirelessSubBar .wlsetSubBox ul li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    height: 40px;
}
.wirelessSubBar .wlsetSubBox span p{
    margin-top: 9px;
    margin-bottom: 9px;
    font-size: 16px;
}
.wirelessSubBar .wlsetSubBox input.transpInput {
    border: none;
    color: #FFFFFF;
    text-align: right;
    font-family: 'Segoe UI';
    font-size: 16px;
    background-color: transparent;
    box-shadow: 0px 2px 0px 0px hsla(0, 0%, 100%, 0.5);
    width: 335px;
    height: 38px;
    line-height: 16px;
    padding: 0px;
}
.wirelessSubBar .wlsetSubBox input.transpInput:focus {
    outline: 0;
}

.wirelessSubBar select.channel{
    width: 60px;
    height: 30px;
    margin-top: 5px;
    padding-left: 16px;
    background-color: #00BBFF;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-family: Segoe UI;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
}
.wirelessSubBar select.wmode{
    width: 185px;
    height: 30px;
    margin-top: 5px;
    padding-left: 12px;
    background-color: #00BBFF;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-family: Segoe UI;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
}
.wirelessSubBar select.scrty{
    width: 178px;
    height: 30px;
    margin-top: 5px;
    padding-left: 12px;
    background-color: #00BBFF;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-family: Segoe UI;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
}

.wirelessSubBar .wlsetSubBox span.left{
    float: left;
    font-family: 'Segoe UI Bold';
    text-align: left;
    width: 335px;
    height: 40px
}
.wirelessSubBar .wlsetSubBox span.right{
    float: right;
    font-family: 'Segoe UI';
    width: 335px;
    height: 40px;
    text-align: right;
}

.routerBar.devnusrs span.icon_save {
    margin-top:10px;
    opacity: .5;
    float: right;
    cursor: pointer;
    margin-right: 20px;
}

.routerBar.devnusrs span.icon_save:hover {
    opacity: 1;
}

.devnusrsSubBar {
    position: relative;
    float: left;
    display: inline-block;
    margin-left: 20px;
    min-height: 80px;
}
.devnusrsSubBar .connectedDev {
    width: 670px;
    min-height: 80px;
    margin-top: 2px;
    text-align: left;
    color: #FFFFFF;
    padding: 20px;
    background-color: #00e582;
    overflow-y: true;
}

.devnusrsSubBar .connectedDev .devusrsSpan{
    height:22px;
    display: inline-block;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Segoe UI';
    line-height: 16px;
    text-align: left;
}

.devnusrsSubBar .blockedDev {
    width: 670px;
    min-height: 80px;
    margin-top: 2px;
    text-align: left;
    color: #FFFFFF;
    padding: 20px;
    background-color: #00e582;
}
.devnusrsSubBar h3 {
    margin: 0px;
    text-align: left;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 0px;
    font-size: 22px;
    font-family: 'SegoeUILight';
    color: #ffffff;
    line-height: 22px;
}
.devnusrsSubBar h6 {
    margin: 0px;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 16px;
    font-family: 'SegoeUILight';
    color: #ffffff;
    line-height: 16px;
}

.devnusrsSubBar ul{
    list-style: none;
    padding: 0;
    margin: auto;
}

.devnusrsSubBar ul li{
    margin-top: 10px;
    margin-top: 2px;
    float: left;
}

.filterSubBar {
    position: relative;
    float: left;
    display: inline-block;
    width: 670px;
    min-height: 34px;
    margin-top: 2px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffbf00;
}

.routerBar.fltrcont span.icon_save {
    margin-top:10px;
    opacity: .5;
    cursor: pointer;
    float: right;
    margin-right: 20px;
}

.routerBar.fltrcont span.icon_save:hover {
    opacity: 1;
}

.filterSubBar input.transpInput {
    border: none;
    color: #FFFFFF;
    text-align: left;
    font-family: 'Segoe UI';
    font-size: 20px;
    background-color: transparent;
    box-shadow: -2px 2px 0px 0px hsla(0, 0%, 100%, 0.5);
    width: 550px;
    height: 30px;
    line-height: 28px;
    padding-left: 10px;
}

.filterSubBar input.transpInput:focus {
    outline: 0;
}

.filterSubBar input.transpInput::-webkit-input-placeholder{
    color: #FFFFFF;
}
.filterSubBar .btn-blue.white {
    float: right;
    margin: 0px;
}

.filterSubBar .tagsBox {
    margin-top: 20px;
    display: block;
}

.filterSubBar .tagsBox .wordCover{
    background-color: #E78B00;
    border: 1px solid #E27F24;
    cursor: default;
    display: inline-block;
    height: 28px;
    white-space: normal;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding-right: 2px;
    padding-left: 6px;
    font-size: 18px;
    line-height: 25px;
    margin: 12px;
    margin-top: 10px;
}
.filterSubBar .tagsBox .wordCover:first-child{
    margin-left: 0px;
}
.filterSubBar .tagsBox .wordCover.newWord{
    background-color: #8F8F8F;
    border: 1px solid #838383;
}

.filterSubBar .tagsBox span.crossCntnr {
  cursor: pointer;
    display: inline-block;
    padding-top: 4px;
    padding-left: 2px;
    float: right;
}

.filterSubBar .tagsBox span.icon_smallCross:hover {
    background-color: #A86302;
}

.crossCntnr:hover{
    cursor: pointer;
}

.rebootSubBar {
    position: relative;
    float: left;
    display: inline-block;
    width: 690px;
    height: 70px;
    margin-top: 2px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #e5004d;
}
.rebootSubBar h3 {
    display: block;
    color: #FFFFFF;
    width: 250px;
    float: left;
    font-size: 22px;
    line-height: 34px;
    font-family: 'SegoeUILight';
    margin: 0px;
}

.rebootSubBar h5{
    font-size: 16px;
    float: left;
    color: #FFFFFF;
    width: 400px;
    position: absolute;
    font-family: 'SegoeUILight';
    margin-top: 35px;
    line-height: 16px;
    margin-bottom: 0px;
}

.rebootSubBar span.btnBox {
    float: right;
}
.rebootSubBar #yes {
    float: right;
    margin-right: 20px;
    margin-top: 18px;
}

.rebootSubBar span.rebooting {
    float: right;
    line-height: 16px;
    font-size: 16px;
    font-family: Segoe UI;
    margin-top: 6px;
    margin-right: 20px;
    opacity: 0.8;
}
    
.btn-blue.white {
    cursor: pointer;
    font-size: 14px;
    background-color: #FFFFFF;
    border:1px solid #D8D1D1;
    color: #000000;
    text-shadow: 0px 0px 0px #C7C7C7;
}
.btn-blue.white:hover {
    background-color: #C0C0C0;
}
/*-------------------------Headings----------------------------*/

.innerDiv h2{
    text-align: center;
    font-size: 38px;
    font-family: 'SegoeUILight';
    color: #444444;
}
.innerDiv h3{
    font-size: 22px;
    font-family: 'Segoe UI SemiLight';
    color: #999999;
}
.innerDiv h4{
    font-size: 12px;
    font-family: 'Segoe UI SemiLight';
    color: #999999;
}
/*-------------------------Buttons------------------------------*/

.btn-blue {
  background-color:#00aeef;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #00afef;
  display:inline-block;
  color:#ffffff;
  font-size:12px;
  font-weight:normal;
  font-style:normal;
  height: 32px;
  line-height:30px;
  width:98px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #528ecc;
}
.btn-blue:hover {
  background-color:#029ed8;
  cursor: pointer;
}
.btn-blue.long {
    width: 130px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.btn-blue.grey {
    background-color:#bbbbbb;
    border: #bbbbbb;
    text-shadow:1px 1px 0px #9b9b9b;
}
.btn-blue.grey:hover {
    background-color:#9b9b9b;
}
.greyout{
  background-color:#AFAFAF;
  border: 1px solid #A5A5A5;
  text-shadow: 1px 1px 0px #8B8B8B;
}
.greyout:hover{
  background-color:#AFAFAF;
  border: 1px solid #A5A5A5;
  text-shadow: 1px 1px 0px #8B8B8B;
}
/*--------------------------Shapes-----------------------------*/

.circle{
    float: left;
    width:34px;
    height:34px;
    border-radius:17px;
    font-size:18px;
    color:#ffffff;
    line-height:34px;
    text-align:center;
    background:#00aeef
}
.circle p#num {
    margin: 0px;
}

.downTriangle{
    float: right;
    width: 0px;
    height: 0px;
    margin-top: -14px;
    margin-left: 5px;
    border-style: solid;
    border-width: 6px 7px 0 7px;
    border-color: #444444 transparent transparent transparent;
}

li#editBtn span.editBtn{
  width: 20px;
  height: 20px;
}
li#editBtn span.editBtn .icon_edit:hover{
  opacity: 0.5;
  cursor: pointer;
}
/*-------------------------------------*/

.hidden {
   display: none;
}

div#preloader{
   position: absolute;
   top:-9999px;
   left:-9999px; 
   height:1px;
   width:1px;
   overflow:hidden;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/*-------------------JQUI Slider-------------------------*/
.sliderContainer{
    width: 670px;
    height: 50px;
}

#sliderA {
    width: 530px;
    height: 16px;
    float: left;
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px; 
    background-color: rgba(255,255,255,0.3);  
}
#sliderB {
    width: 530px;
    height: 16px;
    float: left;
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px; 
    background-color: rgba(255,255,255,0.3);  
}
#sliderC {
    width: 530px;
    height: 16px;
    float: left;
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px; 
    background-color: rgba(255,255,255,0.3);  
}

.ui-slider-handle {
    position: relative;  
    z-index: 2;  
    width: 42px;  
    margin-left: -22px;
    height: 31px;
    margin-top: -23px;
    cursor: pointer;  
    background:url(../img/sensors_sprite.png) no-repeat -28px -734px;
    font-weight: bold;  
    color: #1C94C4;  
    outline: none;
}

.ui-slider-range {  
    background-color: rgba(255,255,255,0.7);  
    position: relative;  
    border: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 99;
}

/*-------------------Smart Switch-------------------------*/

.measurementsContainer {
    display: block;
    width: 670px;
    height: 50px;
}

.measurementsContainer span.mesBox{
    width: 202px;
    height: 50px;
    display: inline-block;
    text-align: left;
    padding-left: 20px;
}

.measurementsContainer span.mesBox h3{
    font-size: 18px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    float: left; 
}

.measurementsContainer .actPow{
    margin-left: 6px;
}
.measurementsContainer .actCurr{
    margin-left: 6px;
}
.measurementsContainer .actVolt{
    margin-left: 6px;
}

/*----------------------Thermostat-----------------------------*/

.tensText {
    text-align: left;
    padding-left: 3px;
    padding-top: 32px;
    font-family: 'Segoe UI Bold';
    color: #ffffff;
    line-height: 32px;
}
.tensText.fs62 {
    font-size: 52px;
    margin-right: -3px;
    padding-left: 12px;
    display: inline-block;
    float: left;
}
.tensText.fs44 {
    font-size: 44px;
    margin-right: -4px;
    display: inline-block;
  float: left;
}
.tensText.fs32 {
    font-size: 32px;
    padding-left: 4px;
    margin-right: -2px;
    display: inline-block;
  float: left;
}

.deciText{
  display: inline-block;
  float: left;
    margin: 0px;
    margin-left: 3px;
    text-align: left;
    padding-left: 0px;
    padding-top: 18px;
    font-size: 22px;
    font-family: 'Segoe UI Bold';
    color: #ffffff;
    line-height: 22px;
}
.deciText.fs44{
    margin-left: 17px;
} 
ul.thermoUl{
    cursor: default;
    list-style: none;
    width: 650px;
    display: block;
    position: relative;
    float: left;
    padding: 0px;
}

ul.thermoUl li{
    display: block;
    width: 630px;
    float: left;
}
ul.thermoUl li:first-child{
    margin-top: 20px;
}
ul.thermoUl li h6.subBoxText{
    float: left;
    margin-top: 4px;
    margin-right: 5px;
    display: inline-block;
    text-align: left;
    font-size: 16px;
    font-family: 'SegoeUILight';
    color: #ffffff;
    line-height: 16px;
}

h6.subBoxText2{
    float: left;
    margin-top: 20px;
    margin-right: 5px;
    display: inline-block;
    text-align: left;
    font-size: 16px;
    font-family: 'SegoeUILight';
    color: #ffffff;
    line-height: 16px;
}

.degri{
    font-size: 38px;
    font-family: Segoe UI Bold;
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    margin-right: 18px;
    float: left;
    margin-top: 32px;
    height: 0px;
}
.degri.fs62 {
    margin-right: 0px;
}
.degri.fs44 {
    margin-right: 8px;
}
.degri.fs32 {
    font-size: 26px;
    margin-right: 13px;
}
.radioDiv1{
    margin-left: 200px;
}
.radioDiv2{
    margin-left: 200px;
}
/*---------------------RadioButtons---------------------- */

input[type=radio] {
    display:none;
}
 
input[type=radio] + label.radios {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    /*text-shadow: 0 1px 1px rgba(255,255,255,0.75);*/
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #FFFFFF;
}
 
input[type=radio]:checked + label {
    outline: 0;
    color: #000;
    background-color: rgba(255, 255, 255, 0.71);
}
