.prettyBox{
	background-color: whitesmoke;
	box-shadow: 0 5px 5px #888888;
	-ms-overflow: hidden;
	overflow: hidden;
}

.ruleHeader{
	width: 100%;
	height: 100px;

	margin: 0px 0 5px 0;
}

.graphicWrapper{
	float:left;

	height: 100px;
	width: 785px;

	overflow-x: scroll;
	overflow-y: hidden;

	padding:10px;

}

.graphicWrapper::-webkit-scrollbar{
	display:none;
}

.triggerIconWrapper,
.resultIconWrapper{
	float:left;

	position: relative;
	margin: 0px 10px 0px 0;
	
	height: 80px;
	width: 80px;
	
	background-color: black;
	opacity: 0.75;

}

.triggerIcon,
.resultIcon{
	position: absolute;
	top: 0px;
	left: 5px;

	height: 70px;
	width: 70px;
}

.triggerIconText,
.resultIconText{
	position: absolute;
	bottom: 0px;
	left: 3px;

	font-size: 10px;
	line-height: 15px;
	color: white;
}

.orWrapper{
	margin: 0px 20px 0 10px;

	height:100%;

	font-size: 40px;
	line-height: 40px;
}

.thenArrow{
	margin: 0px 20px 0 10px;

	font-size: 80px;
	line-height: 75px;
}

.switchWrapper{
	float: right;

	height: 50px;
	width: 175px;
	margin: 25px 10px 0 0;
	border-radius: 1px;
	background-color: grey;
}

.ruleSwitch{
	height: 49px;
	width: 85px;
	font-size: 30px;
	line-height: 50px;

	border-radius: 5px;
	text-align: center;


	cursor: pointer;
}

.onSwitch{
	float: right;
	margin: -2px 1px 0 0;

	background-color: rgba(0,187,255,1);
	color: white;
	border-bottom: solid black 3px;
}

.onSwitch:hover{
	margin: 0 1px 0 0;
	border-bottom: solid black 1px;
}

.offSwitch{
	float: left;
	margin: -2px 0 0 1px;


	background-color: rgba(153, 142, 142, 1);
	color: white;
	border-bottom: solid black 3px;
}

.offSwitch:hover{
	margin: 0 0 0 1px;
	border-bottom: solid black 1px;
}

.separator{
	margin: 0 10px 0 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.ruleTaskbar{
	height: 50px;
	border-collapse: collapse;
	width:100%;

	margin: 0 0 5px 0;
}

.ruleTextWrapper{
	width:100%;
}

.ruleText{
	font-size: 30px;
	line-height: 40px;
	padding:5px;

}

.actionButton{
	float:right;
	width: 100px;
	height: 40px;
	padding: 10px 20px 0 20px;
	margin: 0 0 0 5px;

	cursor: pointer;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.editWrapper{
	font-size: 20px;
	line-height: 30px;
	opacity:.75;
}

.editWrapper:hover{
	opacity:1;
}

.editText{
	float: right;
	margin: 0 17px 0 13px;
}

.editIcon{
	float:right;
	height: 30px;
	width: 30px;
}
