<link href="/nui/css/device.css" rel="stylesheet" type="text/css">
<link href="/nui/css/deviceIcon.css" rel="stylesheet" type="text/css">
<link href="/nui/css/deviceInfo.css" rel="stylesheet" type="text/css">
<link href="/nui/css/numberDisplay.css" rel="stylesheet" type="text/css">
<link href="/nui/css/switchDisplay.css" rel="stylesheet" type="text/css">

<div id='boxToListButton' class='viewSwapButton selected'>
	<img src="/nui/img/listview.png">
</div>
<div id='listToBoxButton' class='viewSwapButton'>
	<img src="/nui/img/gridview.png">
</div>

<div id="deviceList" class="packery deviceBoxList">
<%
	for(var i=0; i < devices.length; i++){
		var device = devices[i]
		var width = device.getAttr('_width')
		var height = device.getAttr('_height')
		var show = showArrows(device)
%>
			
	<div class="item"  deviceId=<%=device.id%> width=<%=width%> height=<%=height%>>
		<div  id="device<%=device.id%>" class="item-content <%=width + ' ' + height%>"></div>
		<div class="expandCollapseOverlayWrapper">
			<div class='expandCollapseOverlay'>
				<div class='expandCollapseWrapper'>
					<div class="horizontal expandCollapse">
						<div class="horizontal expand <%=show.horizontal.expand%>">
							<div class="arrow right"></div>
						</div>
						<div class="horizontal collapse <%=show.horizontal.collapse%>">
							<div class="arrow left"></div>
						</div>
					</div>
					<div class="vertical expandCollapse">
						<div class="vertical expand  <%=show.vertical.expand%>">
							<div class="arrow down"></div>
						</div>
						<div class="vertical collapse  <%=show.vertical.collapse%>">
							<div class="arrow up"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<%
	}
%>
</div>
