<% 
	var deviceID = device.id
	var color = device.getColor()
%>

<style>
	#device<%=deviceID%> .infoWrapper{
	    border-left: solid 16px <%= color %>;
	}

	#device<%=deviceID%> .infoItem{
	    background-color    :<%= color %>;
	}

</style>

<div class='infoWrapper'>
	<div class='infoList'>
<%
	for( var i = 0; i < infoModels.length; i++){
		var infoModel = infoModels[i]
		var infoItem = infoModel.getInfo()
		var deviceId = infoModel.get('deviceId')
		var attrId = infoModel.get('id')

%>
		<div device='<%=deviceId%>' attr='<%=attrId%>' class='infoItem'>
			<div class='infoKey infotd'>
				<%= infoItem.key %>
			</div>
			<div class='infoValue infotd'>
<% 
	if (infoItem.editable){
		
%>
				<input id="device<%=deviceId%>value<%=infoItem.key%>" class='userEditable' type='text' value="<%= infoItem.value %>" tabindex="-1">
				</input>
<%
	}else{
%>
				<%= infoItem.value %>
<%
	}
%>
			</div>
		</div>
<%
	}
%>
	</div>
</div>