<link href="/nui/css/home.css" rel="stylesheet" type="text/css">

<style>
	.masterContainer {
	  width: <%=viewData.width%>px
	}
</style>

<div class="masterContainer">
	<div class="headerDiv">
		<h1 class="headerTitle">Almond+</h1>
	</div>
	<div id="contentWrapper" class="contentWrapper">
		<div class="tabsWrapper">
			<ul class="tabs">
<%
	for(var key in tabs){
		tab = tabs[key]

		if(tab.id == currentTab.id){
			var classes = 'tabWrapper active'
		}
		else{
			var classes = 'tabWrapper'
		}

%>
			  <li id=<%=key%> class="<%=classes%>" >
			    <div class="tabSprite <%=key%>">
				</div>
				<div class='tabText'>
					<%=tab.name%>
				</div>
			  </li>
<%
	}
%>
			</ul>
		</div>
		
		<div id="contentContainer" class="contentContainer">
		</div>
	</div>

</div>
<div class="footerWrapper">
	<div class="footerSecurifi">
	  <p>
	    Powered by
	  </p>
	  <img class="footerLogo" src="/nui/img/securifi_logo.png" alt="logo">
	  <h3 class="footerHeader">
	    SECURIFI
	  </h3>
	</div>
</div>

