<% 
    var deviceID = device.id
    var valueID = 'device' + deviceID + 'value' + value.id
    displayValueText = value.textValue()
    var color = device.getColor()
    console.log()
%>


<style>
    #<%=valueID%> .displayValue{
        background-color    :<%= color %>;
        color               :<%= color %>;
    }
</style>

<div class='displayValue'>
    <div class='deviceValue'>
        <div class='deviceValueHeader'>
            <div class='deviceValueKey'>
                <span><%= displayValueText.top %></span>
            </div>
        </div>
        <div class='deviceValueCenter'>
            <div class='deviceValueMain'>
                <span><%= displayValueText.main %></span>
            </div>
        </div>
        <div class='deviceValueFooter'>
            <div class='deviceValueSub'>
                <span><%= displayValueText.sub %></span>
            </div>
        </div>  
    </div>
</div>