<link href="/nui/css/resultsBuilder.css" rel="stylesheet" type="text/css">
<link href="/nui/css/resultBuilder.css" rel="stylesheet" type="text/css">

<div class="resultsTaskbar whenThenTaskbar">
	<div class="whenThenWrapper prettyBox">
		<span class='thenSpan'>Then</span><span class='ellipsisSpan'>...</span>
	</div>
	<div class="resultsBuilder">
<%
console.log(results)
for(var i=0; i < results.length; i++){
var result = results[i]
console.log(result)
var resultId = result.id
%>
	<div id="resultBuilderWrapper<%=resultId%>" class="resultBuilderWrapper"></div>
<%
}
%>
</div>