<link href="/nui/css/ruleBuilder.css" rel="stylesheet" type="text/css">
<link href="/nui/css/triggerBuilder.css" rel="stylesheet" type="text/css">

<table class="ruleBuilderTaskbar">
	<tr>
		<td class="ruleNameWrapper">
			<div class="ruleNameInputWrapper prettyBox">
				<input id="ruleNameInput" class="ruleNameInput" type="text" name="name" placeholder="<%=rule.get('name')%>" />
			</div>
			 
		</td>
		<td>
			<div class="actionButton prettyBox">
				<div class="doneWrapper">
					<div class="doneText">
						Done
					</div>
					<img  class="doneIcon" src="/nui/sensorimg/saveBlack.png">
				</div>
			</div>
		</td>
	</tr>
</table>


<%
	var triggerGroups = rule.getTriggerGroups()
	for(var i=0; i < triggerGroups.length; i++){
		var triggerGroup = triggerGroups[i]
		var triggerGroupId = triggerGroup.id
%>
<div id="triggerBuilderWrapper<%=triggerGroupId%>" class="triggerBuilderWrapper"></div>

<%
	}
%>
<!-- <div class="triggerBuilderWrapper">
	<div class="newTriggerBuilderWrapper prettyBox">
		Add Trigger
	</div>
</div> -->

<div id="resultsBuilderWrapper" class="resultsBuilderWrapper">
</div>
