<link href="/nui/css/rules.css" rel="stylesheet" type="text/css">
<link href="/nui/css/deviceIcon.css" rel="stylesheet" type="text/css">

<div class="rulesHeaderWrapper">
	<!-- <table class="rulesHeaderWrapperTable">
		<tr class="rulesHeader">
			<td class="headerBox">
				<div class="prettyBox">
					Rules
				</div>
			</td>
			<td class="centerBox">
				<div class="prettyBox">
					<div class="filterInstructions">
						Filter
					</div>
					<div class='filterIconWrapper'>
	<%
		for(var i=0; i < deviceTypes.length; i++){
			var deviceType = deviceTypes[i]
	%>
					<div class='filterIcon unselected'>
						<img class="typeIcon" src="/nui/sensorimg/<%=deviceType.icon%>.png" >
					</div>
	<%
		}
	%>
					</div>
				</div>
			</td>
		</tr>
	</table>
	<div class="ruleDownTriangle"></div> -->
</div>
<div id='ruleWrapper' class="ruleWrapper">

</div>