<div class="triggerGroupTaskbar whenThenTaskbar">
	<div class="whenThenWrapper prettyBox">
<%
if(triggerGroup.get('triggerGroupIndex') > 0){
%>
		<span class='orSpan'>OR</span>
<%
}
%>
		<span class='whenSpan'>When</span><span class='ellipsisSpan'>...</span>
	</div>
	<div class="triggerGroupEdit prettyBox">
	<table>
<%
var triggers = triggerGroup.getTriggers()
for(var i=0; i < triggers.length; i++){
var trigger = triggers[i]
var triggerId = trigger.id
var triggerIcon = trigger.getIcon()
var triggerDescription = trigger.getDesciption()
if(i > 0){
%>
		<td>
		<div class='andWrapper'>
			<span>AND</span>
		</div>
		</td>
<%
}
%>
		<style>
			.triggerGroupEdit #trigger<%=triggerId%>{
			    background-color:<%= triggerIcon.color %>;
			}
		</style>

		<td class="triggerEditWrapperCell">
		<div id='trigger<%=triggerId%>' class="triggerEditWrapper">
			<div class='triggerEditIconWrapper'>
				<img  class="triggerEditIcon" src="/nui/sensorimg/<%=triggerIcon.icon%>.png">
				<div class="triggerEditIconText">
					<%= triggerDescription.subject %>
				</div>
				<div class='verticalSeperator'></div>
			</div>
			<div class='triggerDescriptionEdit'>
				<%= (triggerDescription.verb + ' '  + triggerDescription.object).toLowerCase() %>
			</div>
		</div>
		</td>
<%
}
%>	 
		<td>
		<div class="triggerNewWrapperContainer">
			<div class='andNewWrapper'>
				<span>AND</span>
			</div>
			<div class="triggerNewWrapper">
				<div class='triggerNewIconWrapper'>
					<img  class="triggerNewIcon" src="/nui/sensorimg/add.png">
					<div class="triggerNewIconText">
						New Trigger
					</div>
				</div>
			</div>
		</div>
		</td>
		<td>
		<div class="triggerNewWrapperContainer">
			<div class='andNewWrapper'>
				<span>OR</span>
			</div>
			<div class="triggerNewWrapper">
				<div class='triggerNewIconWrapper'>
					<img  class="triggerNewIcon" src="/nui/sensorimg/add.png">
					<div class="triggerNewIconText">
						New Trigger
					</div>
				</div>
			</div>
		</div>
		</td>
	</table>
	</div>
<div>